{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": [
    "^node:",
    "<THIRD_PARTY_MODULES>",
    "^@src/",
    "^@",
    "^[./]"
  ],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}