html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#app {
  height: 100%;
  display: flex;
}

.unselectable {
  user-select: none;
}

.hidden {
  display: none !important;
}

aside {
  width: 200px;
  border-right: 1px solid black;
}

aside ul {
  margin: 0;
  padding: 0;
}
aside ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside .MenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 5px;
}
aside .MenuItem:hover {
  background: #ddd;
}
aside .MenuItem.selected {
  background: #aaa;
}

main {
  flex: 1;
}

.page {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.page h1 {
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page > div {
  flex: 1;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page .field {
  margin: 10px 0;
  display: flex;
}

.page .field label {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-weight: bold;
}

.page .field input[type="text"],
.page .field input[type="number"] {
  flex: 1;
  margin: 0 0 0 10px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 4px;
}

.page .field button {
  padding: 0;
  margin: 0 0 0 10px;
  display: block;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  width: 100px;
  background: white;
}

.page .field button:hover {
  background: #bbb;
}

.page footer {
  background: rgba(255, 255, 255, 0.65);
  height: 80px;
  display: grid;
  place-items: center;
}

button.generate {
  padding: 0;
  margin: 0 auto;
  display: block;
  width: 160px;
  height: 50px;
  border: 1px solid black;
  border-radius: 2px;
  background: #398539;
  cursor: pointer;
  font-weight: bold;
}

button.generate:hover {
  background: #4eb64e;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: block;
}

#loading::before {
  content: "";
  position: absolute;
  top: calc(50% - (390px / 2));
  left: calc(50% - (320px / 2));
  width: 320px;
  height: 390px;
  background: url("blank-loading.png");
  display: block;
  z-index: -1;
}

#loading hr.progressbar {
  background: url("progressbar.png");
  border: 0;
  position: absolute;
  top: calc(50% - (390px / 2) + 53px + 164px);
  left: calc(50% - (320px / 2) + 54px + 9px);
  width: 200px;
  height: 8px;
  display: block;
}

#loading hr.progressbar.percent0 {
  width: 0px;
}
#loading hr.progressbar.percent25 {
  width: calc(200px / 4);
}
#loading hr.progressbar.percent50 {
  width: calc((200px / 4) * 2);
}
#loading hr.progressbar.percent75 {
  width: calc((200px / 4) * 3);
}
#loading hr.progressbar.percent100 {
  width: 200px;
}

#loading .info {
  position: absolute;
  top: calc(50% - (390px / 2) + 53px);
  left: calc(50% - (320px / 2) + 54px);
  width: 218px;
  height: 164px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 6px 0 black;
  color: white;
  display: grid;
  place-items: center;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
}

#loading p {
  margin: 0;
  font-family: monospace;
}

.badge {
  display: inline-block;
  font-size: 10px;
  background: darkgreen;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  border-radius: 5px;
  color: white;
}

.uninstallBtn {
  margin-left: 10px;
  cursor: pointer;
}
